main {
  display: grid;
  height: 100vh;
  width: 100vw;
  background-color: lightcyan;
}
.box {
  height: 500px;
  width: 500px;
  background-color: darkkhaki;
  transition: all 0.5s ease-in-out;
  border: 0px solid black;
  opacity: 1;
  place-self: center;
}

.hidden {
  opacity: 0.1;
  visibility: hidden;
}

.controls {
  place-self: center;
}

.show-hide-button {
  height: 10rem;
  width: 20rem;
  justify-self: center;
  align-self: center;
  border: 5px solid lightsalmon;
  background-color: transparent;
  color: lightsalmon;
  font-size: 2em;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.show-hide-button:hover {
  background-color: darksalmon;
  color: whitesmoke;
}
